p {
    color: #363731;
}

.titles{
    padding-top: 5%;
}

#row-1 {
    padding-top: 5%;
    margin-bottom: 2%;
}

#main-title {
    color: black;
    margin-bottom: 1px;
    font-size: 4vw;
}

#sub-title {
    font-size: 2vw;
    margin-bottom: 20px;
}

#submit-button {
    background-color: rgb(112, 36, 112);
    border-color: rgb(112, 36, 112);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(112, 36, 112);
    background-color: #ffffff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: rgb(112, 36, 112);
}

.form-control {
    margin-right: 20px;
    margin-left: 20px;
}

.form-inline {
    margin-left: 34%;
}


footer{
    background-color: rgb(32, 32, 32);
    height: 20%;
    padding-top: 2.8%;
}

#footer-content{
    color: white;
    padding-bottom: 3%;
}

#footer-content-p{
    color: white !important;
    padding-top: 2%;
    padding-left: 6%;
}

#footer-h3{
    padding-left: 6%;
    padding-top: 2%;
}

#sub-footer-content{
    background-color: rgb(24, 24, 24);
    color: white;
}

#footer-content-p-2 {
    color: white !important;
    padding-top: 2%;
    padding-left: 6%;
}

.jumbotron {
    margin-top: 8%;
}