p {
    color: #363731;
}

input {
    margin-right: 40px;
}

.titles{
    padding-top: 5%;
}

#row-1 {
    padding-top: 5%;
    margin-bottom: -1.8%;
}

#main-title {
    color: black;
    margin-bottom: 1px;
    font-size: 4vw;
}

#sub-title {
    font-size: 2vw;
    margin-bottom: 20px;
}

#submit-button {
    background-color: rgb(112, 36, 112);
    border-color: rgb(112, 36, 112);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(112, 36, 112);
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: rgb(112, 36, 112);
}

.form-control {
    margin-right: 20px;
    margin-left: 20px;
}

.form-inline {
    margin-left: 34%;
}

#display {
    font-size: 150%;
    color: black;
}